<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Produtos</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<h1>Lista de Produtos</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Ações</th>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}">1</td>
        <td th:text="${product.name}">Produto</td>
        <td th:text="${product.description}">Descrição</td>
        <td>
            <a th:href="@{'/edit/' + ${product.id}}">Editar</a>
        </td>
    </tr>
</table>
</body>
</html>
